<div id='main' style='background-image: url("https://lh3.googleusercontent.com/SJXJy0yrg3E7UjkgTOMAgsMcVrzdNzRG6t5k_aPteilSn0AUc3EEHNuxcReduoRIhdgULNNFBsdGjCkIOgwxE1I3xSgTWztB4wpcFqrjlPAJlMP79wy9uypM7a2czN64fyNTu1cQdfKNyvnRrugu-cXCPoppQqMCRy1O7y4wIJkiWvNTaH0DQ7XGjveTy6kjMTz9Kb4oaz0DJmii57BF65K22Rl3X1VBNFxx8kdaQa2Ww206jaXyX0u3PZjuJLskmUrL3NcRGsDHO__a_B3ZbAuQpUtAvXrQU-6jDQCAkV0MeFAJRjbqmRHEJW83PIhWzYDYR0YN4p8RwaofEAVYFrqksTWqM9ZcMPPcQEHjKe7e0fd7cIf5rnfdM9m1ZrsGMvFGBArhQg4gF2G6YQ3EapY8WchGZZeQZc5F9AlWOq6p6AwEvFoTWiwmB6GVYdq3M_Zkpev_hYScjxGKrr7HfDxeSfG8CV4YO4AVhhsT6bRhyMqL_CAQ8-xC8vXM2K60JUh5EDF5TDDbtaD9-UHcv0ayaJv4hwK_aXtQlxe_XA1cBSjDHoXmjLF5YEdKKMtvS9FM4Md5mI62U5Ko7XiVPmiWi_ximRgP9BAScv-n3ELU5w-gttaofID-APTfw1GohBv7l2PpzG5FfeyRpZkIb0cO8HW_vZSpSy6RJJAdCKWdyYb2v5OliwzafIJMc3A8QuzgXskzQOClj_6uXQBD1qhzPg=w1778-h830-no?authuser=0")'>
    <div id='welcome-frame'>
        <div id='welcome'>Welcome to the official fan site of Miso the Corgi!</div>
        <a class='learn' href='<%= about_path() %>'>Learn more</a>
    </div>
</div>
<div class='sec'>
    <h1>Come join us in Miso's splootastic glory!</h1>
    <h2>Miso can hold over 100 different sleeping positions through a night. How many can you hold?</h2>
    <div id='sleep'>
        <% @sleep.each do |x| %>
            <%= x.input %> (<%= x.count %> inputs);
        <% end %>
        
        <%= form_with model: @input do |f| %>
            <%= f.text_field :input %>
            <%= f.submit "Submit" %>
        <% end %>
    </div>
</div>
<div class='sec' id='miso'>
</div>
<div class='sec'>
    <h1 style='margin-bottom: 40px;'>Get to know the super adorable corgi, Miso!</h1>
    <a class='learn' href='<%= about_path() %>'>Learn more</a>
</div>